* {
    font-family: 'Montserrat';
}

.container {
    padding-left: 250px; 
    padding-right: 5vw;
    font-size: 1.5em;
}

@media (max-width: 800px) {
    .container {
        padding-left: 14vw;
    }
}

@media (max-width: 480px) {
    .container {
        padding-left: 17vw;
    }
}