* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.sidenav {
  height: 100vh;
  width: 15vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 3vh;
  display: block;
}

.sidenav a {
  text-decoration: none;
  font-size: 2em;
  color: white;
  display: block;
  padding: 0.5em;
}

.sidenav a:hover {
  color: #b3b3b3;
}
