#news {
    margin-bottom: 4vh;
    height: 50vh;
}

#news img {
    height: 20vh;
    object-fit: cover;
}

#news p {
    font-size: 1.3em;
    text-align: justify;
}

#news h3 {
    padding-top: 0.5em;
}
