.pageheader {
  /* margin-left: 200px; */
  height: 40vh;
  overflow: hidden;
  position: relative;
}

.pageheader .headerimagetext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vw;
  font-weight: 700;
  color: white;
  margin-left: 100px;
}

.title {
  background-color: black;
  color: white;
  width: 75vw;
  height: 3.4em;
  position: relative;
  text-align: center;
}

.title #textheader {
  background-color: white;
  color: black;
  text-align: left;
  font-size: 2em;
  padding-top: 13px;
  padding-left: 10px;
}

.PI {
  margin-left: 250px;
}


.image img {
  float: left;
  width: 500px;
  height: 500px;
  padding: 20px;
}

.PI .intro {
  padding-top: 20px;
  padding-left: 20px;
  margin-right: 30px;
}

.gallery {
  text-align: center;
  margin-left: 200px;
  display: table;
}

.gallery img {
  /* width: 50vh; */
  width: 350px;
  height: 350px;
  object-fit: cover;
  padding: 30px;
  margin-top: 1.5vh;
}

.increase:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

.gallery ul li {
  list-style: none;
  display: inline-block;
}

.gallery ul li p {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.gallery ul li #name {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 0px;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.bio {
  /* display: none; */
  visibility: hidden;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

.gallery .bio-content {
  display: flex;
  flex-flow: row;
  background-color: white;
  color: black;
  width: 75%;
  /* height: 75%; */
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.gallery .bio-content p {
  display: table-row;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 2vh;
}

.gallery .bio-content img {
  display: table-row;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 0;
  width: 38vh;
  height: 40vh;
}

.gallery .bio-content span {
  display: table-row;
}

.close {
  color: black;
  float: right;
  font-size: 50px;
  font-weight: bold;
  padding-right: 1vw;
}

span:hover {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .PI {
      text-align: center;
  }

  .image img {
    float: none;
    width: 400px;
    height: 400px;
  }


  .gallery img {
    /* width: 50vh; */
    width: 400px;
    height: 400px;
  }

}

@media (max-width: 800px) {
  .PI {
    margin-left: 14vw;
  }

  .gallery {
    margin-left: 6vw;
    text-align: center;
  }

  .pageheader {
    margin-left: 10vw;
  }

  .image img {
    float: none;
    width: 400px;
    height: 400px;
  }

  .PI {
    text-align: center;
    padding-top: 20px;
  }

  .gallery img {
    /* width: 50vh; */
    width: 400px;
    height: 400px;
  }

  .gallery .bio-content p {
    font-size: 1.5vh;
  }

  .gallery .bio-content img {
    width: 35vw;
    height: 35vw;
  }

}

@media (max-width: 480px) {
  .PI {
    margin-left: 10vw;
  }

  .gallery {
    margin-left: 6vw;
    text-align: center;
  }

  .pageheader {
    margin-left: 8vw;
  }

  .pageheader .headerimagetext {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10vw;
    font-weight: 700;
    color: white;
  }

  .image img {
    float: none;
    width: 300px;
    height: 300px;
  }

  .PI {
    text-align: center;
    padding-top: 0px;
  }

  .gallery img {
    /* width: 50vh; */
    width: 300px;
    height: 300px;
  }

  .gallery ul li #name {
    font-size: 3vw;
  }

  .gallery .bio-content p {
    font-size: 2vw;
  }

  .gallery .bio-content img {
    width: 35vw;
    height: 35vw;
  }


}
