.gallery {
    margin-left: 20vw;
    display: table;
}

.gallery img {
    width:  45vh;
    height: 45vh;
    object-fit: cover;
    padding: 10px;
    margin-top: 5vh;
}

.gallery ul li {
    list-style: none;
    display: inline-block;
}

.gallery ul li p {
    text-align: center;
}

.gallery ul li #name{
    font-size: 20px;
    font-weight: 600;
}