.navlinks {
    height: 100vh;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navcontent {
    height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.link {
    text-decoration: none;
    text-align: right;
    /* border-right-style: solid; */
    font-size: 3vh;
    color: rgb(208,210,214);
    display: block;
    font-weight: bold;
}

.navlinks a:hover {
    cursor: pointer;
}

.navborder {
    border-right-style: solid;
    border-width: 5px;
    height: 16vh;
    padding-right: 1vw;
    padding: 0;
    margin: 0;
}

.navtext {
    padding-right: 2vh;
    padding-top: 6vh;
}

.active {
    color: black;
    border-color: black;
}

.navicon {
    z-index: 10;
}

@media (max-width: 1000px) {
    .navicon {
        z-index: 10;
        margin: 10px;
        position: fixed;
        height: 40px;
        width: 40px;
    }

    .navlinks {
        display: none;
        height: 0vh;
        width: 0vw;
    }

    .navlinks-visible {
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: white;
        overflow-x: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navlinks-visible a:hover {
        cursor: pointer;
    }

    .navcontent-visible {
        padding-top: 30px;
        height: 84vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .navborder-visible {
        border-right-style: none;
        width: 100vh;
        height: 16vh;
        padding-right: 40px;
        padding: 0;
        margin: 0;
    }

    .link-visible {
        text-decoration: none;
        text-align: center;
        font-size: 3vh;
        color: rgb(208, 210, 214);
        display: block;
        font-weight: bold;
    }

    .navtext-visible {
        padding-right: 0;
        padding-top: 6vh;
    }

    .navborder-visible:hover {
        background-color: rgb(104, 104, 104);
        width: 100vw;
    }
}
