#newspage {
    padding-left: 21vh;
    padding-top: 3vh;
    padding-bottom: 10vh;
    max-height: 90vh;
}

.subsectiontitle {
    font-size: 5vh;
}

vertical-timeline-element-icon svg {
    height: 2px;
}
