#newspage {
    padding-left: 220px;
    padding-top: 3vh;
    padding-bottom: 10vh;
}

.subsectiontitle {
    font-size: 5vh;
}

vertical-timeline-element-icon svg {
    height: 2px;
}

@media (max-width: 1000px) {
    #newspage {
        padding-left: 70px;
    }
}
