#projectspage {
    padding-left: 25vh;
    padding-top: 4.5vh;
    padding-right: 3vw;
}

.labintro {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 0;
}

.cardcontent{
    display: flex;
    margin-top: 3vh;
}

#title {
    font-size: 1.3em;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 0;
}

#description ul {
    margin-top: 0;
}

#image {
    height: 25vh;
    width: 25vw;
    object-fit: cover;
}