#projectspage {
    padding-left: 220px;
    padding-top: 4.5vh;
}

.labintro {
    font-size: 2.5vh;
}

.researchintro {
    font-size: 1.65em;
}

#description {
    font-size: 1.25em;
}

#title {
    font-size: 1.5em;
}

@media (max-width: 1000px) {
    #projectspage {
        padding-left: 70px;
    }
}
