#teampage {
    padding-left: 25vh;
    padding-right: 4vw;
    padding-top: 6.5vh;
    position: relative;
    height: 90vh;
}

.testmodal {
    background-color: rgba(120, 120, 120, .6);
    height: 100vh;
    width: 100%;
    z-index: 1;
    top: 0;
    position: fixed;
}

.cancel {
    position: relative;
    float: right;
    padding: 2vw;
    z-index: 5;
}

.right {
    float: right;
    position: relative;
    top: 40%;
    transform: translateY(-45%);
    padding-right: 2vw;
}

.left {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 2vw;
}

.memberinfo {
    background-color: white;
    height: 60vh;
    width: 60vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}

.memberinfo img {
    height: 100%;
    max-width: 50%;
    object-fit: cover;
    overflow: hidden;
}

.galleryimg img:hover {
    height: 110%;
    max-width: 60%;
}


.modaltext {
    max-height: 55vh;
    position: absolute;
    left: 50%;
    top: 0%;
    margin: 15px;
    display: block;
}

.name {
    margin-bottom: 2px;
    font-weight: 800;
    font-size: x-large;
}

.position {
    margin-top: 0;
    margin-bottom: 2px;
    font-weight: 400;
}

.degree {
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 0;
}

.bio {
    margin-top: 0;
}

.memberinfo::-webkit-scrollbar {
    width: 10px;
}

.memberinfo::-webkit-scrollbar-track {
    background: white;
}

.memberinfo::-webkit-scrollbar-thumb {
    background: rgba(120, 120, 120, .6);
}

.memberinfo::-webkit-scrollbar-thumb:hover {
    background: #555;
}